<% if signed_in? %>
  <h1>Players</h1>
  <% current_user.players.each do |player| %>
    <%= player.first_name %><%= player.last_name %></br>
  <% end %>
<% else %>
  <h1>Softball Statistics Tracker and Analyzer</h1>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
<% end %>